name: build-release
on:
  push:
    tags: ['v*.*.*']
jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with: { node-version: 20 }
      - run: npm ci
      - name: Linux headless display
        if: matrix.os == 'ubuntu-latest'
        run: |
          echo "DISPLAY=:99" >> $GITHUB_ENV
          sudo apt-get update
          sudo apt-get install -y xvfb libnss3 libatk-bridge2.0-0 libxkbcommon0 libasound2
          nohup Xvfb :99 -screen 0 1920x1080x24 > /dev/null 2>&1 &
      - run: npm run test
      - run: npm run test:ui
      - run: npm run build
      - uses: actions/upload-artifact@v4
        with:
          name: rinawarp-${{ matrix.os }}
          path: dist/**
